doctype html
html(lang='en')
  head
    meta(content="text/html; charset=UTF-8", http-equiv="Content-Type")
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    | 	  
    link(rel="stylesheet", href="css/main.css")
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css', integrity='sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm', crossorigin='anonymous')
    link(href='open-iconic-master/font/css/open-iconic-bootstrap.css', rel='stylesheet')
    |   
    title 陳泰元・普通物理筆記網頁
  |   
  
  body
    .takeup
      a(href="#")
        span.oi.oi-arrow-thick-top 
    nav.navbar.fixed-top.navbar-expand-lg.navbar-dark(style='background-color:#355772;')
      a.navbar-brand(href='index.html') 
        img.d-inline-block.align-top(src='images/phy_icon.png', width='30', height='30', alt='')
        |    &nbsp;&nbsp;   *泰元'S 普物筆記*
      button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
        span.navbar-toggler-icon
      #navbarSupportedContent.collapse.navbar-collapse
        ul.navbar-nav.mr-auto
          li.nav-item
            a.nav-link.active(href='index.html')
              | 首頁 
            span.sr-only (current)
          li.nav-item.dropdown
            a#navbarDropdown.nav-link.dropdown-toggle(href='#', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
              | 基礎電子學
            .dropdown-menu(aria-labelledby='navbarDropdown')
              a.dropdown-item(href='c_inro.html') 電容原理與公式
              a.dropdown-item(href='inductor.html') 電感原理與公式
              a.dropdown-item(href='transistor.html') 電晶體原理
              a.dropdown-item(href='4069.html') 反向器4069初探
              .dropdown-divider
              a.dropdown-item(href='ch1_new.html') 第一章心得整理與分享
              a.dropdown-item(href='rc_arduino.html') 期末報告補充
            
          li.nav-item.dropdown  
            a#navbarDropdown.nav-link.dropdown-toggle(href='#', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
              | 實驗教學
            .dropdown-menu(aria-labelledby='navbarDropdown')
              a.dropdown-item(href='viewwave.html') 示波器
              .dropdown-divider
              a.dropdown-item(href='trig.html') 電容的放電與充電波形圖
    #container
      #header
      .jumbotron
        h1.display-4 陳泰元・普通物理（下）筆記網頁
        |   
        br
        p.lead
          | 歡迎一同進入物理的神聖世界！
        |   
        hr.my-4
        |   
        p
          | 物理指導教師： 黃聰耀 老師&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;網頁指導老師： 陳冠竹 老師 
        |   
        p.lead
          a.btn.btn-primary.btn-lg(href='#1', role='button') 帶我看看推薦好文！
      #content
        #1.osusume
          .osusumein.osusume1
            a(href="ch1_new.html")
              h4 
                u 第一章心得&nbsp;&nbsp;整理與分享
            | 			  
            p 進入普通物理的首要之門&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;應用電子的超精華整理！！
          | 
        .osusume 		   
          .osusumein.osusume2
            a(href="c_inro.html")
              h4 
                u 電容原理與公式
            | 			   
            p 輕鬆理解電容科學公式&nbsp;&nbsp;&nbsp;&nbsp;簡單明瞭無負擔！！
          | 		
        .osusume 	     
          .osusumein.osusume3
            a(href="inductor.html")
              h4 
                u 電感原理與公式
            | 			   
            p 比較電容來學電感科學公式&nbsp;&nbsp;&nbsp;&nbsp;不死背的最好方法！！
          | 		   
        .osusume 	  
          .osusumein.osusume4
            a(href="transistor.html")
              h4 
                u 電晶體原理
            | 			   
            p 一起探索電晶體的偉大應用&nbsp;&nbsp;&nbsp;&nbsp;創造無敵科技產品！！
      #footer   陳泰元・普通物理（下）筆記網頁       
      script(src='https://code.jquery.com/jquery-3.2.1.slim.min.js', integrity='sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN', crossorigin='anonymous')
      script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js', integrity='sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q', crossorigin='anonymous')
      script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js', integrity='sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl', crossorigin='anonymous')